<!doctype html>

<html class="no-js" lang="">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>NP Recognizer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!--Google Fonts link-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/iconfont.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/slick-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/jquery.fancybox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/magnific-popup.css') }}">
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"> 
    <!--<link rel="stylesheet" href="assets1/css/bootstrap-theme.min.css">-->


    <!--For Plugins external css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/plugins.css') }}">

    <!--Theme custom css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/style.css') }}">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/responsive.css') }}">
    <style type="text/css">
        .header 
            {
                margin-top: 75px;
            }
            th{
                text-align: center;
                font-size: 20px;
                color:orange;
                padding:5px;
            }

            td{
                text-align: center;
                font-size: 16px;
                color: white;
                font-weight: bolder;
                padding:10px;
            }
            .info 
            {
                margin-top:60px;
            }
            @media (max-width:452px) 
            {
                table 
                {
                    width:94%;
                    margin-left: 3%; 
                    margin-right: 3%;
                }
            }
    </style>

    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
</head>

<body data-spy="scroll" data-target=".navbar-collapse">

    <div class='preloader'>
        <div class='loaded'>&nbsp;</div>
    </div>
    <div class="culmn">
        <header id="main_menu" class="header navbar-fixed-top">
            <div class="main_menu_bg">
                <div class="container">
                    <div class="row">
                        <div class="nave_menu">
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="#home">
                                           <h2>RULES ARE RULES</h2>
                                        </a>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->



                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a href="#home">HOME</a></li>
                                            <li><a href="">Data of NP</a></li>
                                            <li><a href="#contact">CONTACT</a></li>
                                        </ul>


                                    </div>

                                </div>
                            </nav>
                        </div>
                    </div>

                </div>

            </div>
        </header>
        <!--End of header -->




       <!--home Section -->
       <section id="home" class="home">
        <div class="overlay">
                <div class="container">
                    <!-- enter python data  -->
                    <div class = "u_image">
                        <row style = "width: 100% ; display: flex; justify-content: center;">
                            <img class = "result-img" src={{url_for('static', filename = 'upload/'+ img)}}>
                        </row>
                    </div>

                    <div class = "info">
                        <row style = "width: 100% ; display: flex; justify-content: center;">
                            <h3 class = "header-text">Number Plate Recognizer</h3>
                        </row>
                        <row style = "width: 100%; display: flex; justify-content: center;">
                            <table class="table-bordered text-light table-custom">
                                <tr>
                                    <th>Plate Number</th>
                                </tr>
                                <tr>
                                    <td>{{ text_h }}</td>
                                </tr>
                            </table>
                        </row>
                    </div>
                </div>
            </div> 
        </section>
        <!--End of home section -->


        



    </div>


    <!-----FOOTER----->
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-4 item">
                        <h3 style="color: black;">Services</h3>
                        <ul>
                            <li><a href="#">Number Plate detection</a></li>
                            <li><a href="#">Face detection</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-4 item">
                        <h3 style="color: black;">About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Legacy</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">Debuggers © 2021</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

    <!-----End Of Footer --------->

    <!-- START SCROLL TO TOP  -->

    <div class="scrollup">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>
    <script>
        var loadFile = function(event) {
            document.getElementById('output').style.backgroundImage = "none";
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
        function getResult(result){
            result_box = document.getElementById('result');
            result_box.innerHTML = result;
            result_box.style.display = "block";
        }
    </script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
    

    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.mixitup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.masonry.min.js') }}"></script>

    <!--slick slide js -->
    <script src="{{ url_for('static', filename='css/slick/slick.js') }}"></script> 
    <script src="{{ url_for('static', filename='css/slick/slick.min.js') }}"></script>


    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
